
<%= simple_form_for(@translate_key, url: feedbacker.translate_keys_path ) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :tdomain %>
    <%= f.input :tkey %>

    <% if false %>
    <%= f.input :createdby %>
    <%= f.input :is_public %>
    <%= f.input :is_global %>
    <%= f.input :approved %>
    <%= f.input :approved_at %>
    <%= f.input :approved_by %>
    <%= f.input :removed %>
    <%= f.input :removed_by %>
    <%= f.input :removed_at %>
    <% end %>
  </div>

  <div class="form-actions my-2">
    <%= f.button :submit, class: "btn btn-success" %>
  </div>
<% end %>
