<%= render partial: "admin/manage/header" %>
<%= render partial: "admin/manage/menu" if false %>


<%= render partial: "feedbacker/translate_keys/parts/menu", locals: {selected:1} %>


<div class="row mt-2">
  <div class="col-3">
    <%= render partial: "#{engine_prefix}translate_keys/parts/needed", locals: {title: "Translations needed"} %>

</div>

<div class="col-9">
  <%= render partial: "#{engine_prefix}translate_keys/parts/filter" %>

  <% if @translates && @translates.count > 0 %>
  <h6 class="fs-7 bg-light border p-1 px-2">Matches based on translated phrase</h6>
  <div class="px-1 border rounded rounded-top-0 bg-white mb-1">
    <div class="d-flex flex-wrap">
    <% @translates.each do |translate| %>
      <div class="p-1 m-1 border bg-light text-dark fs-7">
      <%= translate.translate_key.nil? ? link_to(translate.phrase, feedbacker.edit_translate_path(translate)) : link_to(translate.phrase,[feedbacker,translate.translate_key]) %>
      </div>
    <% end %>
    </div>
  </div>

  <% end %>
  

  <table class="table bg-light border rounded">
    <thead>
      <tr>
        
        <th class="text-start">Languages</th>

        <th>Domain</th>
        <th>Key</th>
        <% if false %>
        <th>Creator</th>
        <th>Visibility</th>
        
        <th>Approved</th>
        <th>Approved at</th>
        <th>Approved by</th>
        <th>Removed</th>
        <th>Removed by</th>
        <th>Removed at</th>
        <% end %>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @translate_keys.each do |translate_key| %>
        <tr>
          
          <td class="text-start">
            <%= translate_key.languages.count if false %>
            <% translate_key.languages.pluck(:lang).each do |lang| %>
            <%= tag.span lang, class: "badge bg-#{@lang_colors[lang]} ms-1 fs-8" %>
            <% end %>
          </td>
          <td><%= link_to translate_key.tdomain, feedbacker.translate_keys_path({tdomain:translate_key.tdomain}) unless translate_key.nil? || translate_key.tdomain.nil? %></td>
          <td><%= translate_key.tkey %></td>
          <% if false %>
          <td><%= translate_key.createdby %></td>
          <td>
  <%= render partial: "shared/permissions/show", locals: {target:translate_key} %>
          </td>
          <% end %>
          
          <% if false %>
          <td><%= translate_key.approved %></td>
          <td><%= translate_key.approved_at %></td>
          <td><%= translate_key.approved_by %></td>
          <td><%= translate_key.removed %></td>
          <td><%= translate_key.removed_by %></td>
          <td><%= translate_key.removed_at %></td>
          <% end %>
          <td>

            <% if translate_key.translates.count == 0 %>
            <%= link_to 'Add translation', feedbacker.translate_key_path(translate_key), class: "btn btn-sm btn-success" %>
            <% else %>
            <%= link_to "Show #{translate_key.translates.count} #{"translation".pluralize(translate_key.translates.count)}", feedbacker.translate_key_path(translate_key), class: "btn btn-sm btn-secondary" %>
            <% end %>
            

          </td>
  
          <td><%= link_to icon(icon:"edit"), feedbacker.edit_translate_key_path(translate_key) %></td>
          <td><%= link_to icon(icon:'trash'), feedbacker.translate_key_path(translate_key), method: :delete, data: { confirm: 'This will remove ALL translations for the current (Domain,Key) pair. Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
</div>

<br>

<%= link_to 'New Translate Key', feedbacker.new_translate_key_path %>
