<%= render partial: "admin/manage/header" %>
<%= render partial: "admin/manage/menu" if false %>
<%= render partial: "feedbacker/translate_keys/parts/menu", locals: {selected:controller_name == "menus" ? 5 : (params[:action] == "email" ? 3 : 1)} %>

<div class="row mt-2">
  <div class="col-3" id="sideMenu">
    <%= render partial: "#{engine_prefix}translate_keys/parts/needed", locals: {title: dbt('admin::translations.needed',d:"Translations needed!")} if params[:needed] %>

</div>

<div class="col-9">
<%= render(partial: "#{engine_prefix}translate_keys/parts/filter", locals: {render_js:true,render_html:false}) if @load_delayed %>
<%= render partial: "#{engine_prefix}translate_keys/parts/search_form" %>


<div id="translate_keys_filter">
<%= loading_div "Loading filters" if @load_delayed %>
  <%= tag.div render(partial: "#{engine_prefix}translate_keys/parts/filter", locals: {refresh:params[:refresh]}) if params[:filter] %>
</div>

  <% if @translates && @translates.count > 0 %>
  <h6 class="fs-7 bg-light border p-1 px-2"><%= link_to_collapser "Matches","#translate_matches" %> based on translated phrase</h6>
  <div id="translate_matches" class="collapse show">

  <div class="px-1 border rounded rounded-top-0 bg-white mb-1">
    <div class="d-flex flex-wrap">
    <% @translates.each do |translate| %>
      <div class="p-1 m-1 border bg-light text-dark fs-7">
      <%= translate.translate_key.nil? ? link_to(translate.phrase, feedbacker.edit_translate_path(translate)) : link_to(translate.phrase,[feedbacker,translate.translate_key]) %>
      </div>
    <% end %>
    </div>
  </div>
  </div>
  <% else %>
    <%= tag.div "No phrase matches", class: "alert alert-warning my-2 p-1 px-2" %>
  <% end %>
  <div id="translate_keys">
  <%= render partial: "feedbacker/translate_keys/parts/index" %>
  </div>
</div>
</div>

<br>

<%= link_to 'New Translate Key', feedbacker.new_translate_key_path %>

<%= render partial: "shared/delayed_load", locals: {path_to_filters: feedbacker.translates_delayed_filters_path(format:'js',tdomain:@tdomain,refresh:params[:refresh]), path:feedbacker.translates_delayed_path(format:'js',tdomain:@tdomain,refresh:params[:refresh])} if @load_delayed %>
