<%= render partial: "feedbacker/translate_keys/parts/filter_search_js" %>

<%= render partial: "feedbacker/translate_keys/parts/menu", locals: {selected:params[:action] == "translated_pages" ? 4 : 1} %>
<div class="bg-white p-1">
<h4>Translations by page</h4>
<div class="fs-8">
<%= tag.div 'check "Combine results" and then clcik "Search" to group pages (and use live filtering)', id:"searchExplained", class: "px-1 fw-bold" unless @combine_pages %>
<%= tag.div "Filter: (start typing or clicking checkboxes to live filter", id:"searchExplained", class: "px-1 fw-bold" if @combine_pages %>
</div>

<form method="get" action="" class="m-1">
	<%= link_to "Show all", feedbacker.url_for({}), class: "me-1 fs-6" unless @page_query.blank? %>
<input id="search-translations" type="text" name="pageq" value="<%= @page_query %>"> <input type="submit" value="Search">

<input type="checkbox" name="combine" <%= @combine_pages ? "checked=true" : "" %>> Combine results?

<% if @combine_pages %>
<div class="border ms-3 me-1 p-1 d-inline-block">
	<div class="fs-8 fw-bold">Uncheck languages to ONLY filter by text</div>
	<div>


	<input id="showTranslatedKeys" type="checkbox" name="completed" <%= @show_completed ? "checked=true" : "" %>> Show completed?

	<div class="d-inline-block">
		<% get_all_langs.each do |lang| %>
		<div class="mx-1">
		<input type="checkbox" class="filter-lang" name="lang[]" value="<%= lang %>" <%= @langs.include?(lang) ? "checked=true" : "" %>> <%= lang %>
		</div>
	<% end %>
	</div>
	</div>
</div>
<% end %>

</form>


<% if @combine_pages %>
<% row_id = "#translated_#{SecureRandom.hex(6)}" %>
<div style="overflow-x: scroll;" class="bg-light mb-2 pb-1 px-1 d-flex align-items-center flex-fill pb-2">
<% @pages.each do |path_to_page,samples| %>
<div class="fw-bold fs-8 d-flex align-items-center me-1 mb-1 border p-1"><%= link_to path_to_page, row_id, data: {"bs-target": row_id, "bs-toggle": "collapse"}, class: "me-1" %>
		<%= tag.div samples.keys.length, class: "badge bg-info fs-7 mx-1" %>
	</div>

<% end %>
</div>
<% end %>
<% div_css = @pages.length > 5 && !@combine_pages ? "hide" : "show" %>
<% if @combine_pages %>
<div class="search-data ms-3 collapse <%= div_css %>" id="<%= row_id.split("#")[1] %>">

<div id="listSummary" class="<%= default_h_css %> d-none">
	<span class="me-1">Showing</span><span class="rowCount">_</span> <span class="mx-1">rows</span> 
	<div class="ms-auto me-1"><span class="totalCount">____</span><span class="ms-1">total rows</span></div>
</div>
<% end %>

<% @pages.each do |path_to_page,samples| %>

<% unless @combine_pages %>

	<% row_id = "#translated_#{SecureRandom.hex(6)}" %>
	<div class="fw-bold fs-4 d-flex align-items-center border border-dark ps-1 bg-light mt-1" style="border-left-width: 6px !important;border-top-width: 2px !important;"><%= link_to path_to_page, row_id, data: {"bs-target": row_id, "bs-toggle": "collapse"} %>
		
		<%= tag.div samples.keys.length, class: "badge bg-info fs-7 mx-1" %>
	</div>
<div class="ms-3 collapse <%= div_css %>" id="<%= row_id.split("#")[1] %>">

<% end %>

<% samples.each do |phrase,v| %>

<% tdomain = phrase.partition(".").first.blank? ? nil : phrase.partition(".").first %>
<% tkey = phrase.partition(".").last %>
<% translate = Feedbacker::Translate.new %>
<% translate.build_translate_key!(tdomain:tdomain,tkey:tkey) %>
<% translate_key = translate.translate_key %>



<% needed_translation_langs = get_all_langs.difference(translate_key.langs_used) %>
<div class="search-row" needed="<%= needed_translation_langs.to_s %>" completed="<%= translate_key.langs_used.to_s %>">
	<%= render partial: "feedbacker/translate_keys/parts/phrase_edit", locals: {phrase:phrase,extra:v,translate_key:translate_key,translate:translate} %>
</div>
<% end %>
<% unless @combine_pages %></div><% end %>
<% end %>
<% if @combine_pages %></div><% end %>

</div>