<%= render partial: "feedbacker/translate_keys/parts/menu", locals: {selected:params[:action] == "translated_pages" ? 4 : 1} %>
<div class="bg-white p-1">
<h4>Translations by page</h4>

<form method="get" action="">
	<%= link_to "Show all", feedbacker.url_for({}), class: "me-1 fs-6" unless @page_query.blank? %>
<input type="text" name="pageq" value="<%= @page_query %>"> <input type="submit" value="Search">

<input type="checkbox" name="combine" <%= @combine_pages ? "checked=true" : "" %>> Combine results?
</form>

<% if @combine_pages %>
<% row_id = "#translated_#{SecureRandom.hex(6)}" %>
<div class="d-flex flex-wrap border m-1 p-1">
<% @pages.each do |path_to_page,samples| %>
<div class="fw-bold fs-8 d-flex align-items-center me-1 mb-1 border p-1"><%= link_to path_to_page, row_id, data: {"bs-target": row_id, "bs-toggle": "collapse"}, class: "me-1" %>
		<%= tag.div samples.keys.length, class: "badge bg-info fs-7 mx-1" %>
	</div>

<% end %>
</div>
<% end %>
<% div_css = @pages.length > 5 && !@combine_pages ? "hide" : "show" %>
<% if @combine_pages %>
<div class="ms-3 collapse <%= div_css %>" id="<%= row_id.split("#")[1] %>">
<% end %>

<% @pages.each do |path_to_page,samples| %>

<% unless @combine_pages %>

	<% row_id = "#translated_#{SecureRandom.hex(6)}" %>
	<div class="fw-bold fs-4 d-flex align-items-center border border-dark ps-1 bg-light mt-1" style="border-left-width: 6px !important;border-top-width: 2px !important;"><%= link_to path_to_page, row_id, data: {"bs-target": row_id, "bs-toggle": "collapse"} %>
		
		<%= tag.div samples.keys.length, class: "badge bg-info fs-7 mx-1" %>
	</div>
<div class="ms-3 collapse <%= div_css %>" id="<%= row_id.split("#")[1] %>">
<% end %>

<% samples.each do |k,v| %>
	<%= render partial: "feedbacker/translate_keys/parts/phrase_edit", locals: {phrase:k,extra:v} %>
<% end %>
<% unless @combine_pages %></div><% end %>
<% end %>
<% if @combine_pages %></div><% end %>

</div>