<% form_id = "commentForm#{SecureRandom.hex(10)}" if local_assigns[:form_id].nil? %>
<% user_css = "m-0 p-0 rounded bg-none" %>
<% profile_css = "d-flex align-items-center m-0" %>
<% engagement_frame_id = "engage#{SecureRandom.hex(10)}" %>
<% is_admin = false if local_assigns[:is_admin].nil? %>
<% size = "micro" if local_assigns[:size].nil? %>

<% new_comment = @new_comment if local_assigns[:new_comment].nil? %>

  <div class="comments-show">
    <div class="comment" comment-id="<%= comment.id %>">
      <div class="body">
        <div class="d-flex">
          <%= render partial: "users/parts/list_row", locals: {user:comment.user,show_extra:false,size:size,wrap_css: user_css,profile_css:profile_css,is_admin:is_admin} rescue render(partial: "comments/user",locals: {comment:comment}) %>


          <div class="ms-auto d-flex">

            
            <%= tag.div render(partial: "comments/engagement", locals: {resource:comment,frame:engagement_frame_id}), id: engagement_frame_id unless current_user.nil? %>


          <div class="fs-7 d-flex"><%= tag.span("#{date_fmt(comment.created_at,fmt: "ago")}") rescue tag.span("#{time_ago_in_words(comment.created_at)} ago") %>

            <div class="dropdown">
              <button class="bg-transparent border-0" type="button" id="cmtDropdown<%= comment.id %>" data-bs-toggle="dropdown" aria-expanded="false">
                <%= icon(icon:"bars") %>
              </button>
              <ul class="dropdown-menu" aria-labelledby="cmtDropdown<%= comment.id %>">
                <li>
                  <%= link_to feedbacker.engage_comment_path(id:comment.id,scope:'like',frame:engagement_frame_id), remote: true, class: "dropdown-item" do %><%= icon(icon:"thumbs-up",icon_css:"text-success") %> Like
                  <% end %>
                </li>
                <li>
                  <%= link_to feedbacker.engage_comment_path(id:comment.id,scope:'love',frame:engagement_frame_id), remote: true, class: "dropdown-item" do %><%= icon(icon:"heart",icon_css:"text-danger") %> Love
                  <% end %>
                </li>

                <li>
                  <%= link_to feedbacker.engage_comment_path(id:comment.id,scope:'flag',frame:engagement_frame_id), remote: true, class: "dropdown-item" do %>
<%= icon(icon:"exclamation-triangle",icon_css:"text-warning") %> Flag
                  <% end %>
                </li>
                <% if is_admin? %>
                <li><a class="dropdown-item" href="#">Add photo</a></li>
                <li><%= link_to icon(icon:'trash',lbl: dbt('comment.remove',d:'Remove')), feedbacker.comment_path(comment,frame:form_id), method: :delete, remote: true, class: "dropdown-item" %></li>                
                <% end %>
              </ul>
            </div>

          </div>

          </div>

        </div>

      <p class="d-flex align-items-top comment-body"><%= comment.body %></p>
      <%= tag.div comment.subject, class:"fs-8 fw-bold text-end mx-1" if is_admin? %>

    </div>

      <div class="comment-nav"><a href="#" class="comment-reply">reply</a></div>
      <div class="reply-form">
        <%= form_for(new_comment, url: main_app.comments_path(new_comment),remote: true,html: {id:form_id}) do |f| %>
          <%= f.hidden_field :form_id, value: form_id %>
          <%= f.hidden_field :commentable_id, value: new_comment.commentable_id %>
          <%= f.hidden_field :commentable_type, value: new_comment.commentable_type %>
          <%= f.hidden_field :comment_id, value: comment.id %>
          <div class="field form-group">
            <%= f.text_area :body, class: 'form-control' %>
          </div>
          <div class="field form-group">
            <%= submit_tag "Post Reply", class: 'btn btn-sm btn-primary mt-1 mb-3' %>
          </div>
        <% end %>
      </div>
    </div>
    <%= render partial: "comments/reply", locals: {comments: comment.children, new_comment: new_comment} %>
  </div>