<% form_id = "commentForm#{SecureRandom.hex(10)}" if local_assigns[:form_id].nil? %>
<%= form_for(new_comment, url: main_app.comments_path(new_comment),remote: true,html: {id:form_id}) do |f| %>
  <%= f.hidden_field :commentable_id, value: new_comment.commentable_id %>
  <%= f.hidden_field :commentable_type, value: new_comment.commentable_type %>

  <%= f.hidden_field :form_id, value: form_id %>
  <div class="field form-group">
    <%= f.text_area :body, class: 'form-control' %>
  </div>
  <div class="field form-group my-1">
    <%= submit_tag "Post comment", class: 'btn btn-primary' %>
  </div>
<% end %>