<% form_id = "commentForm#{SecureRandom.hex(10)}" if local_assigns[:form_id].nil? %>
<% size = "micro" if local_assigns[:size].nil? %>
<% user_css = "m-0 p-0 rounded bg-none" %>
<% profile_css = "d-flex align-items-center m-0" %>
<% is_admin = false if local_assigns[:is_admin].nil? %>

<% paging = false if local_assigns[:paging].nil? %>
<% comments = Kaminari.paginate_array(comments).page(params[:page]).per(2) if paging %>
<%= paginate comments if paging %>
<% comments.each do |comment| %>
  <div class="comments-show">
    <div class="comment">
      <div class="body">
        <div class="d-flex">
          <%= render partial: "users/parts/list_row", locals: {user:comment.user,show_extra:false,size:"micro",wrap_css: user_css,profile_css:profile_css,is_admin:is_admin} rescue render(partial: "comments/user",locals: {comment:comment}) %>

          <span class="ms-auto"><%= tag.span "#{time_ago_in_words(comment.created_at)} ago", class:"fs-7" %></span>
        </div>

      <p class="d-flex align-items-top"><%= comment.body %>
        <br>
      </p>

    </div>

      <div class="comment-nav"><a href="#" class="comment-reply">reply</a></div>
      <div class="reply-form">
        <%= form_for(new_comment, url: main_app.comments_path(new_comment),remote: true,html: {id:form_id}) do |f| %>
          <%= f.hidden_field :form_id, value: form_id %>
          <%= f.hidden_field :commentable_id, value: new_comment.commentable_id %>
          <%= f.hidden_field :commentable_type, value: new_comment.commentable_type %>
          <%= f.hidden_field :comment_id, value: comment.id %>
          <div class="field form-group">
            <%= f.text_area :body, class: 'form-control' %>
          </div>
          <div class="field form-group">
            <%= submit_tag "Post Reply", class: 'btn btn-sm btn-primary mt-1 mb-3' %>
          </div>
        <% end %>
      </div>
    </div>
    <%= render partial: "comments/reply", locals: {comments: comment.children, new_comment: new_comment} %>
  </div>
<% end %>