<% frame_id = local_assigns[:frame] %>

<% form_id = "commentForm#{SecureRandom.hex(10)}" if local_assigns[:form_id].nil? %>

<div class="dropdown">
  <button class="bg-transparent border-0" type="button" id="cmtDropdown<%= resource.id %>" data-bs-toggle="dropdown" aria-expanded="false">
    <%= icon(icon:"bars") %>
  </button>
  <ul class="dropdown-menu" aria-labelledby="cmtDropdown<%= resource.id %>">
    <% Feedbacker.engage_keys.each do |scope_key,scope_action| %>
    <li>
        <%= link_to feedbacker.engage_resource_path(id:resource.id,scope:scope_key,frame:frame_id,otype:resource.class.name.downcase,format:"js"), remote: true, class: "dropdown-item" do %><%= icon(icon:Feedbacker.engage_icons[scope_key][:icon],icon_css:Feedbacker.engage_icons[scope_key][:css]) %> <%= scope_key.capitalize %>
      <% end %>
    </li>
    <% end %>

    <% if false %>
    <li>
      <%= link_to feedbacker.engage_comment_path(id:comment.id,scope:'like',frame:frame_id), remote: true, class: "dropdown-item" do %><%= icon(icon:"thumbs-up",icon_css:"text-success") %> Like
      <% end %>
    </li>
    <li>
      <%= link_to feedbacker.engage_comment_path(id:comment.id,scope:'love',frame:frame_id), remote: true, class: "dropdown-item" do %><%= icon(icon:"heart",icon_css:"text-danger") %> Love
      <% end %>
    </li>

    <li>
      <%= link_to feedbacker.engage_comment_path(id:comment.id,scope:'flag',frame:frame_id), remote: true, class: "dropdown-item" do %>
<%= icon(icon:"exclamation-triangle",icon_css:"text-warning") %> Flag
      <% end %>
    </li>
    <% end %>
    <% if is_admin? %>
    <li><a class="dropdown-item" href="#">Add photo</a></li>
    <li><%= link_to icon(icon:'trash',lbl: dbt("#{resource.class.name.downcase}.remove",d:'Remove')), [feedbacker,resource], method: :delete, remote: true, class: "dropdown-item" %></li>                
    <% end %>
  </ul>
</div>

