<h4><%= dbt('admin').capitalize %></h4>

<div class="row">
	<div class="col-3">
		<%= render partial: "admin/manage/menu", locals: {vertical:true,icon_size:"fs-3"} %>
</div>
<div class="col-6">
<h4>Analytics</h4>
<% begin %>
	<h6>Site views</h6>
	<%= line_chart Impression.where(impressionable_type:"Site").group_by_day(:created_at).count, title: "Views/day" %>
	<%= column_chart Impression.where(impressionable_type:"Site").group_by_day(:created_at).count("DISTINCT(user_id)"), title: "Users/day" %>
<% rescue %>
	<div class="alert alert-warning">Error loading basic analytics</div>
<% end %>


<% begin %>
	<% if respond_to?(:line_chart) %>
	

	<%= line_chart Impression.where(impressionable_type:"Book").group_by_day(:created_at).count, title: "Book views/day" rescue tag.div "No books to report on" %>
	
	<%= column_chart Impression.where(impressionable_type:"Book").group_by_day(:created_at).count("DISTINCT(impressionable_id)"), title: "Books viewed/day" rescue tag.div "No books to report on" %>

	<%= column_chart Book.group_by_day(:created_at).count, title: "Books added/day" rescue tag.div "No books to report on" %>
	<%= bar_chart User.group_by_day(:created_at, reverse: true).count, title: "Users added/day" %>

	<%= line_chart Order.group_by_day(:created_at, reverse: true).sum(:price), title: "$ raised/day" rescue tag.div "No projects to report on" %>
	<% else %>
		<div class="alert alert-warning">Unable to load charts and analytics</div>
	<% end %>
<% rescue %>
	<div class="alert alert-warning">Error loading charts and analytics</div>
<% end %>

</div>
<div class="col-3">
	<div class="m-3">
		<% if false %>
	<%= link_to "Generate fake data", fake_data_path(books:true), class: "btn btn-success mb-1" %>
	<%= link_to "Clear fake data", clear_fake_data_path(books:true), class: "btn btn-danger mb-1" %>
	<% end %>
	</div>
</div>
</div>

