<div class="row">
<div class="col-sm-6">
<h4><%= t('Updates') %></h4>

<% @updates.each do |row| %>
	<div class="bg-light border my-1 p-2">
		<%= tag.h6 row[:date], class: "fw-bold" %>
		<% if !row[:posts].nil? && row[:posts].is_a?(Array) %>
			<% row[:posts].each do |post| %>
				<%= tag.p post[:info], class:"text-secondary" %>		
			<% end %>
		<% else %>
			<%= tag.p row[:info], class:"text-secondary" %>					
		<% end %>
	</div>
<% end %>
</div>
<div class="col-sm-6">
	<% section_title = dbt('announcements',d:"Announcements") %>
	<h4><%= can?(:manage, Post) ? link_to(section_title, posts_path) : section_title %></h4>
	<%= paginate @posts %>
	<% @posts.each do |row| %>
	<div class="bg-white border p-2 my-1">
		<div class="d-flex align-items-top">
			<%= tag.span row.title, class:"fw-bold fs-4" unless row.title.blank? %>
			<%= tag.span "#{time_ago_in_words(row.created_at)} #{dbt('ago')}", class: "fs-7 ms-auto" %>
		</div>
		<%= tag.p row.details unless row.details.blank? %>
		<%= row.content %>
	</div>
	<% end %>
	<%= paginate @posts %>
</div>
</div>