<% by_contr = Feedbacker::Translate.phrases_by_controller_and_action controller: controller.controller_name, action: controller.action_name %>
<% if by_contr.empty? %>
<%= tag.div "No phrases to translate on this page. Contact support if there are sections of this page that you would like to translate!", class: "alert alert-warning" %>
<% else %>
<% by_contr.each do |row| %>
<% phrase = row[:obj] %>
<% tdomain = phrase.partition(".").first.blank? ? nil : phrase.partition(".").first %>
<% tkey = phrase.partition(".").last %>
<% translate = Feedbacker::Translate.new %>
<% translate.build_translate_key!(tdomain:tdomain,tkey:tkey) %>
<% translate_key = translate.translate_key %>


<%# suggested = get_all_langs.difference(translate_key.langs_used) %>

<% frame_id = "pagePhrase#{SecureRandom.hex(10)}" %>
<div class="px-1 border border-dark bg-plain my-1 fs-7" id="<%= frame_id %>">
	<%= tag.div class: "d-flex align-items-top" do %>
	<%= phrase %>
	 <%= link_to icon(icon:'trash'), feedbacker.translates_clear_misskey_path({remove_misskey:row[:key],remove_frame:frame_id}), remote:true, class:"ms-auto mx-1 nodec clearKeyBtn text-muted fs-7" if row.has_key?(:key) %>
	 <% end %>

<%= render partial: "feedbacker/translate_keys/parts/phrase_edit", locals: {size:"tiny",phrase:row[:obj],extra:nil,translate:translate,translate_key:translate_key} %>

</div>
<% end %>
<% end %>