<% st = Time.now %>
<% tdomain = @tdomain || params[:tdomain] if local_assigns[:tdomain].nil? %>
<% needed = local_assigns[:needed] unless local_assigns[:needed].nil? %>
<% needed = @needed_translations if needed.nil? %>

<% needed = Feedbacker::Translate.get_cache_misses(grouped:true,tdomain_filter:tdomain || params[:q],tkey_filter:params[:tdomain] || params[:q]) if needed.nil? %>

<%= tag.div "Filtered by #{tdomain}", class: "fs-7 px-1 text-center" unless tdomain.nil? %>
<h5 class="bg-primary text-primary-lightest p-2 mb-0 d-flex align-items-center"><%= local_assigns[:title].nil? ? dbt('admin::translations.needed',d:"Translations needed!") : title %>

<%= link_to(icon(icon:"sync"), feedbacker.translates_needed_path({needed:1,q:params[:q],frame:"sideMenu"}), remote:true, class:"nodec p-1 m-1 btn btn-sm text-dark border border-dark fw-bold") %>

</h5>

<% if needed.empty? %>
<%= tag.div "No translations needed", class: "alert alert-notice" %>
<% else %>
    <ul class="nav nav-pills mb-1 p-1 bg-light border border-top-0" id="pills-tab" role="tablist">
    <% needed.each do |lang,rows| %>
    <% is_active = needed.keys[0] == lang %>
    <li class="nav-item" role="presentation">
    <button class="p-0 px-2 me-1 border nav-link fs-5 d-flex align-items-center <%= is_active ? "text-dark active" : "" %>" id="langs-<%= lang %>-tab" data-bs-toggle="pill" data-bs-target="#langs-<%= lang %>" type="button" role="tab" aria-controls="langs-<%= lang %>" aria-selected="<%= is_active ? "true" : "false" %>"><%= lang %> <%= tag.span rows.length, class: "p-1 ms-3 fs-8 badge bg-white border text-muted" %></button>
    </li>
    <% end %>
    </ul>
  <div class="tab-content" id="langs-tabContent" style="height:100vh;overflow-y:auto;">
    <div>
    <input type="search" placeholder="Type to filter..." class="fs-7 p-1 m-1 rounded-pill px-2 border-dark">
    </div>
    <% needed.each do |lang,rows| %>
    <% is_active = needed.keys[0] == lang %>

    <div id="langs-<%= lang %>" data-lang="<%= lang %>" class="search-data bg-white border mb-1 p-0 tab-pane fade <%= "show active" if is_active %>" role="tabpanel" aria-labelledby="langs-<%= lang %>-tab">
      <div class="px-2 fs-8 text-muted d-flex align-items-center justify-content-end">
      <%= tag.div "Language" %> <%= tag.div lang, class:"mx-1 fs-6 fw-bold text-contrast" %>
      </div>
        <% rows.each do |full_row| %>
        <% row = full_row.kind_of?(Feedbacker::Translation) ? full_row : (full_row.has_key?(:obj) ? full_row[:obj] : full_row) %>
        <% frame_id = "missKey_#{SecureRandom.hex(10)}" %>
        <div class="search-row mb-1 p-1 px-2 border-2 border-bottom mx-0 bg-light" style="position:relative;" id="<%= frame_id %>">
          <% if !row.tdomain.nil? && row.tdomain.include?("menu::content") %>
            <%= link_to feedbacker.new_translate_path(lang:lang,tdomain:row.tdomain,tkey:row.tkey), class: "d-flex flex-column nodec" do %>
              <div class="text-danger fw-bold me-1">No need to edit</div> <%= tag.div "#{row.tdomain}.#{row.tkey}" %>
            <% end %>
          <% else %>
            <%= link_to icon(icon:'trash',icon_css:"text-muted"), feedbacker.translates_clear_misskey_path({remove_misskey:full_row[:key],remove_frame:frame_id}), remote:true, class:"fs-7 m-2 nodec clearKeyBtn", style:"position:absolute;bottom:0;right:0;" if full_row.has_key?(:key) %>
            <%= link_to "#{row.tdomain}.#{row.tkey}", feedbacker.new_translate_path(lang:lang,tdomain:row.tdomain,tkey:row.tkey), class: "nodec" %>
            <% begin %>
            <%= render partial: "#{engine_prefix}translate_keys/parts/samples_and_stats", locals: {translate_key:row,parent_frame:frame_id,lang:lang} %>
            <% rescue Exception=>ex %>
            <%= ex %>
            <% end %>
            <%= tag.div full_row[:key], class: "fs-7" if params[:debug] %>      
          <% end %>
        </div> <!-- end search-row -->

    <% end %>
    </div>

    <% end %>
  </div>
<% end %>
<div class="px-1 fs-8">Loaded in <%= num_comma(Time.now - st,3) %> seconds</div>