<h1 class="d-flex align-items-center"><%= icon(icon:"users") %> <%= tag.span "People", class: "mx-2" %> <%= tag.span User.count, class:"badge bg-dark text-light fs-6 fsz6" %></h1>
<% if defined?HasFriendship %><div class="px-2 pb-3 text-secondary fw-bold font-weight-bold"><%= HasFriendship::Friendship.count %> connections</div><% end %>
<% if false %>
<!-- Custom code here -->

<!-- Then optionally call the regular code from the Feedbacker Engine -->
<% end %>

<% if current_user.respond_to?(:friends) %>
	<% connections = current_user.friends if local_assigns[:connections].nil? && !current_user.nil? %>
	<% connections_requested = current_user.requested_friends if local_assigns[:connections_requested].nil? && !current_user.nil? %>
	<% connections_pending = current_user.pending_friends if local_assigns[:connections_pending].nil? && !current_user.nil? %>

	<%= paginate @users %>
	<% @users.each do |user| %>

		<div class="border m-1 p-1">
		<h2><%= link_to user.display_name_public, user %></h2>
		<%= render partial: "users/connect",locals:{user:user,connections:connections,requested:connections_requested,pending:connections_pending} unless current_user.nil? || current_user == user %>

		</div>
	<% end %>
<% else %>
	<%= render partial: "users/feedbacker/index", locals: {hide: [:title] } %>
<% end %>