<%= render partial: "users/profiles/header", locals: {user: @user, show_link: false, profile: :main} %>

<% if respond_to?(:newsify) %>
<div class="row">
	<div class="col-4">
		<%= render partial: 'community/orgs/groups', locals: {groups: @user.my_groups, paginate: true, count: nil,title: "My groups"} if !@user.nil? && respond_to?(:newsify) %>
		<%= render partial: "posts/widgets/index", locals: {data:@user.posts.order("created_at DESC").limit(10)} %>
	</div>
	<div class="col-4">
		
		
	</div>
	<div class="col-4"><%= render partial: "users/feedbacker/comments", locals: {user: @user,title:"Comments",comments:@user.comments.order("created_at DESC")} %></div>
</div>
<% else %>
<div class="d-flex">
<div class="col-sm-6 mx-auto">
	<%= render partial: "users/feedbacker/comments", locals: {user: @user} %>
</div>
</div>
<% end %>