<% path_to_delayed = local_assigns[:path].nil? ? feedbacker.admin_page_ideas_path(format:'js',refresh:params[:refresh],controller_name:controller.controller_name,action_name:controller.action_name) : local_assigns[:path] %>
<script>
  function doPageIdeasLoad(refreshCache) {
  //alert(refreshCache == true || refreshCache == 'true' ? 'tt' : 'ff')
  return new Promise((resolve, reject) => {
    let fullLoadUrl = '<%= path_to_delayed %>'.includes("?") ? `<%= path_to_delayed %>&refresh=${refreshCache}` : `<%= path_to_delayed %>?refresh=${refreshCache}` ;


  $.ajax({ url: fullLoadUrl,
          type: 'GET',
          dataType: 'json',
          beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
          success: (response) => {
            return resolve({response:response})
          },
          error: (response) => {
            //alert(`Error fetching ${url}`)
            console.log(`Error fetching ${fullLoadUrl}`)
            console.log(response)
            return reject({msg:'ERROR ajaxPromise 1',error:response})
          }
      });
  })

    return reject({msg:`RARE SERVER ERROR fetching {$url}`,error:'ERROR INFO'})
}


function loadAdminPage() {
  let res = doPageIdeasLoad(false)
.then((result) => {
  console.log(result)
  let cacheUsed = result.response.cache_used
  
  if(result.response.parts)
  {
    $("#subMenu").html(result.response.parts.sub_menu)
    $("#sideMenu").html(addDivWrap(result.response.parts.side_menu,cacheUsed,'animate__animated animate__fadeInLeft'))
  }
  else {
    $("#adminTipsWrap").html(result.response.html)
    $("#adminTipsScroll").height($(window).height())
    console.log(`page WINDOW height ${$(window).height()}`)
//    $("#delayed").html(result.response.html)
  }
 // setupRealTimeTranslate()
  })


}

/* NOTE: this may not be needed anymore with bootstrap 5, using data-bs-auto-close="outside" */
$( document ).ready(function() {
$('.dropdown-menu li').on('click', function(event){
//The event won't be propagated to the document NODE and 
// therefore events delegated to document won't be fired
   event.stopPropagation();
 });

 $(".dropdown-menu a[data-bs-toggle='collapse']").on('click',function(event) {
  event.stopPropagation();
 })


 $('.dropdown-menu > ul > li > a').on('click', function(event){
  event.stopPropagation();
  $(this).tab('show')
  alert('clicked tab')
 });

$("#adminPageStats").on('show.bs.dropdown',function(e) {
  loadAdminPage()
})

});

</script>

<footer class="footer">
  <div class="container d-flex align-items-center justify-content-between">
    <%= render partial: "shared/switch_lang" unless @languages.nil? || (@languages.length == 1) rescue "Error w/ language" %>
    <div>
    <%= render partial: "shared/footer_append" rescue nil %>
    </div>
    <div>
    <%= render partial: "shared/switch_user",locals:{wrap_css:"ms-auto"} unless Rails.env.production? rescue nil %>
    <%= render partial: "shared/switch_site",locals:{wrap_css:"ms-auto"} if is_admin? rescue nil %>
    <%= render partial: "feedbacker/shared/page_stats",locals:{} if is_admin? %>

  </div>
  </div>
</footer>