<script>
$( document ).ready(function() {
$('.dropdown-menu li').on('click', function(event){
//The event won't be propagated to the document NODE and 
// therefore events delegated to document won't be fired
   event.stopPropagation();
 });

 $(".dropdown-menu a[data-bs-toggle='collapse']").on('click',function(event) {
  event.stopPropagation();
  
 })

 $('.dropdown-menu > ul > li > a').on('click', function(event){
  event.stopPropagation();
  $(this).tab('show')
  alert('clicked tab')
 });

});

</script>

<footer class="footer">
  <div class="container d-flex align-items-center justify-content-between">
    <%= render partial: "shared/switch_lang" unless @languages.nil? || (@languages.length == 1) rescue "Error w/ language" %>
    <div>
    <%= render partial: "shared/footer_append" rescue nil %>
    </div>
    <div>
    <%= render partial: "shared/switch_user",locals:{wrap_css:"ms-auto"} unless Rails.env.production? rescue nil %>
    <%= render partial: "shared/switch_site",locals:{wrap_css:"ms-auto"} if is_admin? rescue nil %>
    <%= render partial: "feedbacker/shared/page_stats",locals:{} if is_admin? %>

  </div>
  </div>
</footer>