<form class="ml-auto form-inline mt-2 mt-md-0 d-flex me-3" method="get" action="<%= global_search_path %>">
    <input class="form-control mr-sm-2 mr-1 me-2" type="text" placeholder="<%= dbt('search',default:'Search') %>" aria-label="<%= dbt('search', default:"Search") %>" name="q" value="<%= @q %>">
    <button class="btn btn-outline-success ml-1 my-2 my-sm-0 d-flex align-items-center" type="submit"><%= icon_text(dbt('search',default:'Search'),'search',true,'mx-1') %></button>
</form>