<% unless @languages.nil? %>
    <span class="text-muted"><%= t('change_language') %></span>
    <% @languages.each do |lang| %>
    <% if I18n.locale.to_s == lang.to_s %>
    <%= tag.span lang, class: "mx-1" %>
    <% else %>
    <a class="mx-1" href="/?locale=<%= lang %>&r=<%= request.fullpath %>"><%= lang %></a>
    <% end %>
    <% end %>
<% end %>