<h4 class="p-1 px-2 bg-primary text-light"><%= title %> <%= tag.span list.count, class: "badge bg-light text-dark ms-1" %></h5>
<% list.each do |room_message| %>
<% unless room_message.id.nil? %>
<div class="bg-light mb-1">
	<div class="p-1 px-2 border d-flex align-items-top">
	<%= link_to room_message.message, feedbacker.admin_messages_path(id:room_message.id), style: "white-space: pre-wrap;", class: "text-dark fs-8" %>

	<%= tag.span time_ago_in_words(room_message.created_at), class: "ms-auto fs-8", style: "min-width:40px;" unless room_message.created_at.nil? %>
	</div>
	<div class="text-muted fs-8 px-2">
		<% if room_message.user.nil? %>Anonymously<% else %>by <%= room_message.user.display_name_public %><% end %>
	</div>


<% emails_from_msg = room_message.message.split(" ").collect{|row| row if row.include?("@")}.compact unless room_message.message.nil?  %>

	<% unless emails_from_msg.empty? %>
	<div class="px-1 fs-7"> <%= "Email".pluralize(emails_from_msg.length) %>:
	<% emails_from_msg.each do |email_from_msg| %>
	<% user = User.find_by(email:email_from_msg) %>

	<%= link_to email_from_msg, feedbacker.admin_users_path(q:email_from_msg), class: "mx-1 nodec fs-7 fw-bold" unless email_from_msg.nil? %>

	<% unless user.nil? || user.last_view.nil? %>
	<%= tag.div "Last click: #{time_ago_in_words user.last_view} ago", class: "fs-8 mx-1" %>
	<% if user.last_view > room_message.created_at %>
	<div class="text-success fw-bold mx-1 alert-success px-1">They were able to USE their account AFTER this failure</div>
	<% end %>

	<% end %>

	<% end %>
	</div>

	<% end %>

</div>
<% end %>
<% end %>