<h4 class="p-1 px-2 bg-primary text-light"><%= title %> <%= tag.span list.count, class: "badge bg-light text-dark ms-1" %></h5>
<% list.each do |room_message| %>
<% unless room_message.id.nil? %>
<div class="bg-light mb-1">
	<div class="p-1 px-2 border d-flex align-items-top">
	<%= link_to room_message.message, feedbacker.admin_messages_path(id:room_message.id), style: "white-space: pre-wrap;", class: "text-dark fs-8" %>

	<%= tag.span time_ago_in_words(room_message.created_at), class: "ms-auto fs-8", style: "min-width:40px;" unless room_message.created_at.nil? %>
	</div>
	<div class="text-muted fs-8 px-2">
		<% if room_message.user.nil? %>Anonymously<% else %>by <%= room_message.user.display_name_public %><% end %>
	</div>

	<%= render partial: "feedbacker/admin/parts/user_by_emails", locals: {emails:extract_emails(room_message.message)} %>

</div>
<% end %>
<% end %>