<% title = "They were able to USE their account AFTER this failure" %>
<% unless emails.empty? %>
<div class="px-1 fs-7"> <%= "Email".pluralize(emails.length) %>:
<% emails.each do |email| %>
	<% user = User.find_by(email:email) %>
	<%= link_to email, feedbacker.admin_users_path(q:email), class: "mx-1 nodec fs-7 fw-bold" unless email.nil? %>
	<%= link_to icon(icon:"address-card"), [main_app,user], class: "m-1" unless user.nil? %>

	<% unless user.nil? || user.last_view.nil? %>
	<%= tag.div "Last click: #{time_ago_in_words user.last_view} ago", class: "fs-8 mx-1" %>
		<% if user.last_view > room_message.created_at %>
		<div class="text-success fw-bold mx-1 alert-success px-1"><%= title %></div>
		<% end %>

	<% end %>

<% end %>
</div>

<% end %>