<% impression_limit = 20 if local_assigns[:impression_limit].nil? %>
<% if visitor.nil? %>
VISITOR NULL
<% else %>
<div class="mb-2 bg-white border">

<%= render(visitor) %>

<div class="row g-0">
	<div class="col-3 border-end border-2">
		<div class="fw-bold text-dark bg-plain p-1 px-2">
			Users with this IP
		</div>
		<div class="px-2 fs-7 d-flex flex-wrap p-1">

		<% Site.views_per_user(ip:visitor.ip_address).each do |user_row| %>
		<div class="d-flex align-items-center border rounded mb-1 me-1">
			<span class="badge bg-info text-dark mx-1"><%= user_row.impressions_count %></span>
		<%= render partial: "users/parts/list_row", locals: {user:user_row,show_extra:false,size:"micro",wrap_css: "bg-plain p-1 fs-7",is_admin:false} %>
		</div>
		<% end %>
		</div>
	</div>
	<div class="col-9">
		<div class="px-2 fs-7 d-flex flex-wrap p-1">
			<% Site.last_actions(ip:visitor.ip_address,user_id: @is_public.blank? ? nil : "").each do |row| %>
			<div class="d-flex align-items-center border me-1 mb-1">
				<%= tag.span row.row_count, class: "badge badge-sm bg-info mx-1" %>
				<div class="px-1">
					<a href="<%= feedbacker.admin_visits_path(controller_name: row.controller_name,action_name:row.action_name,user_id:visitor.user_id) %>"><%= row.controller_name %>: <%= row.action_name %></a>
				</div>
			</div>
			<% end %>
		</div>
	</div>
</div>

<% user = User.find_by(id:visitor.user_id) %>
<% my_impressions = !user.nil? ? user.my_impressions : Site.my_impressions(ip:visitor.ip_address,user_id: @is_public.blank? ? nil : "") %>
<div>
	<a class="mt-auto border p-1 btn btn-sm btn-success" href="#visitor<%= index %>" data-bs-target="#visitor<%= index %>" data-bs-toggle="collapse"><%= "Last click: #{date_fmt(user.nil? ? Site.last_view(ip:visitor.ip_address) : user.last_view,fmt:"ago")} ago" %>: (<%= my_impressions.count %> total clicks)</a>

	<div class="text-muted fs-8 collapse" id="visitor<%= index %>">
	<% my_impressions.limit(impression_limit).order("created_at DESC").each_with_index do |row,index| %>
	<div class="fs-8 text-muted ms-3 d-flex justify-content-between border-bottom mb-2">
		<div><%= tag.span (index + 1), class: "fw-bold" %>) [<%= row.impressionable_type %>] <a href="<%= feedbacker.admin_visits_path(controller_name: row.controller_name,action_name:row.action_name,user_id:user.nil? ? nil : user.id) %>"><%= row.controller_name %> -> <%= row.action_name %></a> :</div> <%= tag.div row.params %> <div class="text-dark mx-1 text-end"><%= date_fmt row.created_at,fmt:"ago" %> ago
			<div class="fs-8 px-1 text-muted">
				Referrer: <%= tag.div(row.respond_to?(:referrer) && !row.referrer.blank? ? row.referrer : "No referrer",class:'fw-bold') %>
			</div>

		</div>
	</div>
	<% end %>
	</div>

</div>

</div>
<% end %>