<% controller_name = controller.controller_name if local_assigns[:controller_name].nil? %>
<% action_name = controller.action_name if local_assigns[:action_name].nil? %>

<ul class="nav nav-tabs" id="myTipTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="adminStats-tab" data-bs-toggle="tab" data-bs-target="#adminStatsTab" type="button" role="tab" aria-controls="adminStatsTab" aria-selected="false">Stats</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link active d-flex align-items-center" id="adminTranslate-tab" data-bs-toggle="tab" data-bs-target="#adminTranslateTab" type="button" role="tab" aria-controls="adminTranslateTab" aria-selected="true"><%= icon(icon:'language',lbl:"Translations",icon_css:'me-1') %></button>
  </li>
</ul>

<div class="tab-content" id="myTipTabContent">
    <div class="tab-pane fade " id="adminStatsTab" role="tabpanel" aria-labelledby="adminStats-tab">
      <div id="adminStatsBody" class="">
  <% range_param = 60.days.ago %>
  <% my_sql = Impression.where(impressionable_type:"Site").where("created_at >= ?",range_param).group_by_day(:created_at,range: range_param.midnight..Time.now) %>
	<div class="mb-1 border border-2 border-dark px-1">
	<%= column_chart my_sql.count("DISTINCT(user_id)"), title: "Users/day", height: 200 %>
	</div>

	<% range_param = 60.days.ago %>
	<% my_sql = Impression.where(impressionable_type:"Site",controller_name:controller_name,action_name:action_name).where("created_at >= ?",range_param).group_by_day(:created_at,range: range_param.midnight..Time.now) %>
	<div class="mb-1 border border-2 border-dark px-1">
	<%= column_chart my_sql.count, title: "Views/day (this feature: #{controller_name}:#{action_name})", height: 200 %>
	</div>

	<% range_param = 365.days.ago %>
	<% my_sql = Impression.where(impressionable_type:"Site",controller_name:controller_name,action_name:action_name).where("created_at >= ?",range_param).group_by_month(:created_at,range: range_param.midnight..Time.now) %>
	<div class="mb-1 border border-2 border-dark px-1">
	<%= column_chart my_sql.count, title: "Views/month (this feature: #{controller_name}:#{action_name})", height: 200 %>
	</div>

      </div>
    </div>      

    <div class="tab-pane fade show active" id="adminTranslateTab" role="tabpanel" aria-labelledby="adminTranslate-tab">

      <div id="pageTranslations">          
        <% begin %>
        <%= render partial: "feedbacker/translate_keys/parts/by_page_action", locals: {controller_name: controller_name,action_name:action_name} %>
        <% rescue Exception=>ex %>
        <%= ex %>
        <% end %>
      </div>

    </div>

</div>