<script type="text/javascript">
jQuery(document).ready(function($) {
	$(".upgradeBtn").on("click",function(e) {
			e.preventDefault();
			e.stopPropagation();

			let upgradeID = $(this).attr('tier-id')
			let upgradeName = $(this).attr('tier-name')
			let msg = `Upgrade to ${upgradeName} must be done by contacting the provider...we are still in beta and have not automated billing and upgrading yet!`
		alert(msg)
	})
})

</script>
<%= render partial: "admin/manage/header" %>
<%= render partial: "admin/manage/menu" %>
<% tag.div @db_info[:error], class: "alert alert-danger" if @db_info[:error] %>

<% if params[:debug] && @errors && is_admin? %>
<h4>Errors with snapshot</h4>
<%= @errors %>
<% end %>

<div class="bg-white border p-1">
<%= link_to "Row count", feedbacker.admin_db_path, class: "mx-2" %> <%= link_to "DB growth", feedbacker.admin_db_path(history:1),class:"mx-2" %>

	<%= link_to "#{@archives.count} archives",feedbacker.admin_db_path(archives:1), class: "mx-2" %>
</div>
<% if params[:archives] %>
<h6>Archives</h6>
<div class="bg-white p-2 border m-1">
<%= @archive_row.data['id'] %>: <%= @archive_row.data['rows'] %>
<% @archive_row.data['rows'].each do |row| %>
<%= tag.div row %>
<% end %>
</div>
<% end %>
<% if @history %>

<%= render partial: "admin/history/db" %>


<% else %>
<% unless @db_info[:rows][:per_table].nil? %>
	<%= render partial: "admin/parts/db_usage", locals: {info:@db_info,plan:@db_info[:prices][:intro],upgrades:@db_info[:prices][:upgrades],upgrade:@db_info[:prices][:upgrades][1],tables:@db_info[:tables],rows:@db_info[:rows]} %>
<% end %>

<% end %>
