<script>
jQuery(document).ready(function($) {
	$("#toggleDiff").on('click',function(e) {
		e.preventDefault()
		e.stopPropagation()
		$(".diff li.del").css({'display':'table-row'}) //show()
		//$(this).hide() 
	})

//	$("#showDiff").on('click',function(e) {
//		postDiffCode('t1here','t2here changed')
//	})

})

</script>
<style>
<%= Diffy::CSS %>
.diff li.del {display: none;}

.splitter {
    width: 100%;
    height: 380px;
    display: flex;
}

#separator {
    cursor: col-resize;
    background-color: #aaa;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='30'><path d='M2 0 v30 M5 0 v30 M8 0 v30' fill='none' stroke='black'/></svg>");
    background-repeat: no-repeat;
    background-position: center;
    width: 10px;
    height: 100%;

    /* Prevent the browser's built-in drag from interfering */
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#first {
    background-color: #dde;
    width: 60%;
    height: 100%;
    min-width: 10px;
}

#second {
    background-color: #eee;
    width: 40%;
    height: 100%;
    min-width: 10px;

    padding-left: 15px;
}

</style>

<%= render partial: "admin/manage/header" %>
<%= render partial: "admin/manage/menu" if false %>

<%= render partial: "feedbacker/translate_keys/parts/menu", locals: {selected:1} %>
<%= render partial: "admin/cms/js" %>


<div class="splitter border border-dark border-2">
    <div id="first">
    	<span class="fw-bold px-1 fs-8">Preview HTML as you type...you must save manually!</span>
		<%= render partial: "admin/cms/editor_input" %>
    </div>
    <div id="separator" ></div>
    <div id="second" >
			


	<div id="showDiff" class="collapse">
	<% unless @diffed.nil? %>
	<a id="toggleDiff" data-bs-toggle="collapse" data-bs-target="#diffedText" href="#">Show removed</a>
	<div id="diffedText" class="collapse hide">
		<div class="text-end px-1 fs-7"><a href="#" data-bs-toggle="collapse" data-bs-target="#diffedText">close</a></div>

	<%= tag.div raw(@diffed) %>
	</div>
	<% end %>
	</div>

	<div class="sandBoxMenu p-1 px-2 fs-7 d-flex">
	<%= link_to "Edit", [feedbacker,@translate], class:"me-2", target: "_blank" if @translate %> 
	<% if false %><a href="#" onclick="doCheckHtml();return false;">Check html</a><% end %>
	<a href="#showDiff" class="ms-auto bg-light border me-1 my-1 fs-7 px-1 nodec" data-bs-target="#showDiff" data-bs-toggle="collapse" aria-expanded="false" id="showDiffLink">Diff code</a>

	<a href="#testresults" class="bg-light border me-1 my-1 fs-7 px-1" data-bs-target="#testresults" data-bs-toggle="collapse" aria-expanded="false" id="checkHtmlStatus"></a>
	</div>

	<div>
		<a href="#showCode" class="ms-auto bg-light border me-1 my-1 fs-7 px-1 nodec" data-bs-target="#showCode" data-bs-toggle="collapse" aria-expanded="false" id="showCodeLink">Source code</a>
		<a href="#sandbox" class="bg-light border me-1 my-1 fs-7 px-1 nodec" data-bs-target="#sandbox" data-bs-toggle="collapse" aria-expanded="true" id="showSandbox">Preview</a>

		<%= render partial: "admin/cms/html_ideas" %>
		
	</div>

	<div class="fw-bold d-flex align-items-center">Live html preview <span id="sandbox_status" class="mx-1" style="height:22px;"></span></div>
	<div id="showCode" class="collapse">

	</div>

	<div id="testresults" class="collapse">[html check here]</div>
	<div id="sandbox" class="collapse show border-top border-2 border-dark py-3">HTML shows here</div>



	</div>
</div>






<script>

// A function is used for dragging and moving
function dragElement(element, direction)
{
    var   md; // remember mouse down info
    const first  = document.getElementById("first");
    const second = document.getElementById("second");

    element.onmousedown = onMouseDown;

    function onMouseDown(e)
    {
        //console.log("mouse down: " + e.clientX);
        md = {e,
              offsetLeft:  element.offsetLeft,
              offsetTop:   element.offsetTop,
              firstWidth:  first.offsetWidth,
              secondWidth: second.offsetWidth
             };

        document.onmousemove = onMouseMove;
        document.onmouseup = () => {
            //console.log("mouse up");
            document.onmousemove = document.onmouseup = null;
        }
    }

    function onMouseMove(e)
    {
        //console.log("mouse move: " + e.clientX);
        var delta = {x: e.clientX - md.e.clientX,
                     y: e.clientY - md.e.clientY};

        if (direction === "H" ) // Horizontal
        {
            // Prevent negative-sized elements
            delta.x = Math.min(Math.max(delta.x, -md.firstWidth),
                       md.secondWidth);

            element.style.left = md.offsetLeft + delta.x + "px";
            first.style.width = (md.firstWidth + delta.x) + "px";
            second.style.width = (md.secondWidth - delta.x) + "px";
        }
    }
}


$(function() {
  dragElement( document.getElementById("separator"), "H" );
})

</script>