<script>
jQuery(document).ready(function($) {
	$("#toggleDiff").on('click',function(e) {
		e.preventDefault()
		e.stopPropagation()
		$(".diff li.del").css({'display':'table-row'}) //show()
		//$(this).hide() 
	})

//	$("#showDiff").on('click',function(e) {
//		postDiffCode('t1here','t2here changed')
//	})

})

</script>
<style>
	<%= Diffy::CSS %>
	.diff li.del {display: none;}
</style>

<%= render partial: "admin/manage/header" %>
<%= render partial: "admin/manage/menu" if false %>

<%= render partial: "feedbacker/translate_keys/parts/menu", locals: {selected:1} %>
<%= render partial: "admin/cms/js" %>


<div id="showDiff" class="collapse">
<% unless @diffed.nil? %>
<a id="toggleDiff" href="#">Show removed</a>
<%= tag.div raw(@diffed), id: "diffedText" %>
<% end %>
</div>

<div class="row">
	<div class="col-6">

<span class="fw-bold">Preview HTML as you type...nothing is saved!</span>
	<%= render partial: "admin/cms/editor_input" %>




	

</div>
<div class="col-6">
	<div class="sandBoxMenu p-1 px-2 fs-7 d-flex">
	<%= link_to "Edit", [feedbacker,@translate], class:"me-2", target: "_blank" if @translate %> 
	<% if false %><a href="#" onclick="doCheckHtml();return false;">Check html</a><% end %>
	<a href="#showDiff" class="ms-auto bg-light border me-1 my-1 fs-7 px-1 nodec" data-bs-target="#showDiff" data-bs-toggle="collapse" aria-expanded="false" id="showDiffLink">Diff code</a>

	<a href="#testresults" class="bg-light border me-1 my-1 fs-7 px-1" data-bs-target="#testresults" data-bs-toggle="collapse" aria-expanded="false" id="checkHtmlStatus"></a>
</div>

		<div>
		<a href="#showCode" class="ms-auto bg-light border me-1 my-1 fs-7 px-1 nodec" data-bs-target="#showCode" data-bs-toggle="collapse" aria-expanded="false" id="showCodeLink">Source code</a>
		<a href="#sandbox" class="bg-light border me-1 my-1 fs-7 px-1 nodec" data-bs-target="#sandbox" data-bs-toggle="collapse" aria-expanded="true" id="showSandbox">Preview</a>
	</div>

	<div class="fw-bold d-flex align-items-center">Live html preview <span id="sandbox_status" class="mx-1" style="height:22px;"></span></div>
	<div id="showCode" class="collapse">

	</div>

	<div id="testresults" class="collapse">[html check here]</div>
	<div id="sandbox" class="collapse show border-top border-2 border-dark py-3">
	HTML shows here
	</div>

</div>

<%= render partial: "admin/cms/html_ideas" %>
