<%= render partial: "admin/manage/header" %>
<%= render partial: "admin/manage/menu" %>

<%= default_h "Login analytics", css: "mb-1" %>
<%= link_to "Send message",feedbacker.admin_send_user_message_path, class:"btn btn-success my-1" if false %>

<div class="row">
	<div class="col-4">	
		<%= render partial: "#{engine_prefix}admin/parts/message_list", locals: {title:"Failed logins",list:@failed_logins} %>
	</div>
	<div class="col-4">
		<%= default_h "Successful logins" %>
		
		<% recent_logins = Impression.where(controller_name:"sessions",action_name:"create").where("NOT user_id is null") %>
		<% User.where(id:recent_logins.limit(100).pluck(:id).uniq).each do |user| %>
		<%= render partial: "users/profile_mini", locals: {user:user,link_only:false} %>
		<% end %> 

		<% recent_logins.limit(50).each do |impression| %>
		<%= render impression unless impression.user_id.nil? %>
		<% end %>
	</div>
	<div class="col-4">
		<h5 class="p-1 px-2 bg-dark text-light d-flex">Spammers caught <%= tag.span @spam_msgs.count, class: "badge bg-light text-dark ms-1" %>
			
			<%= link_to "Show all", feedbacker.admin_messages_path({spam:1}), class: "ms-auto px-1" unless params[:spam] %>
		</h5>


		<% @spam_msgs.limit(params[:spam] ? 100 : 10).each do |room_message| %>
			<% unless room_message.id.nil? %>
			<div class="bg-light mb-1">
				<div class="p-1 px-2 border d-flex align-items-top">
				<%= link_to room_message.message, feedbacker.admin_messages_path(id:room_message.id), style: "white-space: pre-wrap;" %>

				<%= tag.span time_ago_in_words(room_message.created_at), class: "ms-auto" unless room_message.created_at.nil? %>
				</div>

				<%= render partial: "feedbacker/admin/parts/user_by_emails", locals: {message:room_message,emails:extract_emails(room_message.message)} %>

			</div>
			<% end %>
		<% end %>
		
	</div>
</div>