<%= render partial: "admin/manage/header" %>
<%= render partial: "admin/manage/menu" %>

<%= link_to "Send message",feedbacker.admin_send_user_message_path, class:"btn btn-success my-1" %>

<div class="row">
	<div class="col-4">	
		<%= render partial: "#{engine_prefix}admin/parts/message_list", locals: {title:"Failed logins",list:@failed_logins} %>
	</div>
	<div class="col-4">
		<h4>Successful logins</h4>

	</div>
	<div class="col-4">
		<h5 class="p-1 px-2 bg-dark text-light d-flex">Spammers caught <%= tag.span @spam_msgs.count, class: "badge bg-light text-dark ms-1" %>
			
			<%= link_to "Show all", feedbacker.admin_messages_path({spam:1}), class: "ms-auto px-1" unless params[:spam] %>
		</h5>

		<% @spam_msgs.limit(params[:spam] ? 100 : 10).each do |room_message| %>
			<% unless room_message.id.nil? %>
			<div class="bg-light mb-1">
				<div class="p-1 px-2 border d-flex align-items-top">
				<%= link_to room_message.message, feedbacker.admin_messages_path(id:room_message.id), style: "white-space: pre-wrap;" %>

				<%= tag.span time_ago_in_words(room_message.created_at), class: "ms-auto" unless room_message.created_at.nil? %>
				</div>
			</div>
			<% end %>
		<% end %>
		
	</div>
</div>