<%= render partial: "admin/manage/header" %>
<%= render partial: "admin/manage/menu" %>

<%= default_h "Login analytics", css: "mb-1" %>
<%= link_to "Send message",feedbacker.admin_send_user_message_path, class:"btn btn-success my-1" if false %>

<div class="row">
	<div class="col-3">	
		<%= render partial: "#{engine_prefix}admin/parts/message_list", locals: {title:"Failed logins",list:@failed_logins} %>
	</div>
	<div class="col-6">
		<%= default_h "Successful logins" %>
		
		<% recent_logins = Impression.where(controller_name:"sessions",action_name:"create").where("NOT user_id is null").order("created_at DESC") %>
		<div class="d-flex align-items-center mb-1">

			<div class="d-flex align-items-center flex-fill pb-0" style="overflow-x:scroll;scrollbar-width:thin;">
			<% User.where(id:recent_logins.limit(100).pluck(:user_id).uniq).each do |user| %>
				<div class="bg-light border" style="min-width:120px;">
					<%= tag.div "Active #{date_fmt(user.last_view,fmt:"ago")} ago", class: "text-muted fs-8 px-2" if user.respond_to?(:last_view) && !user.last_view.nil? %>
					<%= render partial: "users/profile_mini", locals: {user:user,link_only:false,wrap_css: ""} %>
				</div>
			<% end %> 
			</div>
		</div>




		<% recent_logins.limit(50).each do |impression| %>
		<%= tag.div render(impression), class: "mb-1" unless impression.user_id.nil? %>
		<% end %>
	</div>
	<div class="col-3">
		<h5 class="py-2 fs-6 px-2 bg-dark text-light d-flex align-items-center">Spammers caught <%= tag.span @spam_msgs.count, class: "badge bg-light text-dark ms-1" %>
			
			<%= link_to "Show all", feedbacker.admin_messages_path({spam:1}), class: "ms-auto px-1", style:"min-width: 65px;" unless params[:spam] %>
		</h5>

		<% @spam_msgs.limit(params[:spam] ? 100 : 10).each do |room_message| %>
			<% unless room_message.id.nil? %>
			<div class="bg-light mb-1">
				<div class="p-1 px-2 border d-flex align-items-top">
				<%= room_message.message.include?("Spam detected from registration:") ? "Spam detected" : link_to(room_message.message, feedbacker.admin_messages_path(id:room_message.id), style: "white-space: pre-wrap;") %>

				<%= tag.span time_ago_in_words(room_message.created_at), class: "ms-auto fs-8", style:"min-width:55px;" unless room_message.created_at.nil? %>
				</div>

				<%= render partial: "feedbacker/admin/parts/user_by_emails", locals: {message:room_message,emails:extract_emails(room_message.message)} %>

			</div>
			<% end %>
		<% end %>
		
	</div>
</div>