<%= render partial: "admin/manage/header" %>
<%= render partial: "admin/manage/menu" %>
<%= render partial: "#{engine_prefix}admin/parts/visits_menu" %>

<div><%= num_comma Impression.count %> total impressions</div>
<div class="d-flex align-items-center justify-content-between">
<%= tag.div "#{num_comma(@visitors.total_count)} rows", class: "me-2" if false %> 
<%= feedbacker_paginate @visitors,page: params[:page], wrap_css: "" %>
</div>

<form method="get" action="" class="">
	<div class="bg-dark text-light p-1 px-2 d-flex align-items-center">
		Referrers
		<div class="ms-auto d-flex align-items-center mx-1 fs-7">
		All rows <input type="text" name="all_visits" value="<%= @all_visits %>" placeholder="leave blank for referrers ONLY" class="me-1"  style="width:60px;">
		Include <input type="text" name="include" value="<%= @include %>" placeholder="q=" class="me-1">
		Ignore <input type="text" name="ignore" value="<%= @ignore %>" placeholder="<%= @app_site ? @app_site.domain : request.domain %>"  class="me-1">
		<input type="submit" value="Update" class="ms-1">
		</div>
	</div>

	<div class="d-flex align-items-center my-1 fs-7">
	Type <input type="text" name="itype" value="<%= @itype %>" placeholder="Book, Post, User, etc..." style="width:130px;" class="mx-1">
	ID <input type="text" name="iid" value="<%= @iid %>" placeholder="1, 2, 3, etc..." style="width:80px;" class="mx-1">
	Message <input type="text" name="imessage" value="<%= @imessage %>" placeholder="download, listen" class="mx-1">
	Controller <input type="text" name="icontroller" value="<%= @icontroller %>" placeholder="welcome, admin, books, etc..." class="me-1">
	Action <input type="text" name="iaction" value="<%= @iaction %>" placeholder="index, show, etc..." class="mx-1">
	</div>

</form>

<div class="fs-8 p-1 text-muted"><%= @visitors.to_sql %></div>

<% @visitors.each_with_index do |visitor,index| %>
<%= render partial: "#{engine_prefix}admin/parts/visitor", locals: {visitor:visitor,index:index} %>
<% end %>
<%= feedbacker_paginate @visitors,page: params[:page], wrap_css: "" %>