<style>
form#visit_referrers input {font-weight: bold!important;}
</style>

<%= render partial: "admin/manage/header" %>
<%= render partial: "admin/manage/menu" %>
<%= render partial: "#{engine_prefix}admin/parts/visits_menu" %>

<div><%= num_comma Impression.count %> total impressions</div>
<div class="d-flex align-items-center justify-content-between">
<%= tag.div "#{num_comma(@visitors.total_count)} rows", class: "me-2" if false %> 
<%= feedbacker_paginate @visitors,page: params[:page], wrap_css: "" %>
</div>

<form method="get" action="" class="" id="visit_referrers">
	<div class="bg-dark text-light p-1 px-2 d-flex align-items-center">
		Referrers
		<div class="ms-auto d-flex align-items-center mx-1 fs-7">
		All rows <input type="text" name="all_visits" value="<%= @all_visits %>" placeholder="leave blank for referrers ONLY" class="mx-1"  style="width:60px;">
		Public <input type="text" name="is_public" value="<%= @is_public %>" placeholder="leave blank for ALL" class="mx-1"  style="width:60px;">
		User <input type="text" name="user_id" value="<%= @user_id %>" placeholder="leave blank for ANY" class="mx-1"  style="width:60px;">
		Include <input type="text" name="include" value="<%= @include %>" placeholder="q=" class="mx-1">
		Ignore <input type="text" name="ignore" value="<%= @ignore %>" placeholder="<%= @app_site ? @app_site.domain : request.domain %>"  class="mx-1">
		<input type="submit" value="Update" class="ms-1">
		</div>
	</div>

	<div class="d-flex align-items-center my-1 fs-7">
	Type <input type="text" name="itype" value="<%= @itype %>" placeholder="Book, Post, User, etc..." style="width:130px;" class="mx-1">
	ID <input type="text" name="iid" value="<%= @iid %>" placeholder="1, 2, etc..." style="width:60px;" class="mx-1">
	Message <input type="text" name="imessage" value="<%= @imessage %>" placeholder="download, listen" class="mx-1">
	Controller <input type="text" name="controller_name" value="<%= @icontroller %>" placeholder="welcome, admin, books, etc..." class="me-1">
	Action <input type="text" name="action_name" value="<%= @iaction %>" placeholder="index, show, etc..." class="mx-1" style="width:140px;">

	Per page <input type="text" name="limit" value="<%= @limit %>" class="mx-1" style="width:50px;">
	</div>

</form>

<% last_visitor_session = nil %>
<% last_visitor_created_at = nil %>
<% @visitors.each_with_index do |visitor,index| %>

<% if visitor.session_hash == last_visitor_session %>
<% since_prev = (last_visitor_created_at.nil? ? nil : num_comma((last_visitor_created_at-visitor.created_at),2) %>
<% col1 = safe_join([tag.div("#{date_fmt(visitor.created_at,fmt:"ago")} ago ",class:"text-muted"),tag.div(since_prev,class: "text-success mx-1")]) %>
<%= tag.div safe_join([col1,tag.div("#{visitor.controller_name}: #{visitor.action_name}")]), class: "border fs-8 bg-plain px-4 fw-bold ms-4 d-flex justify-content-between" %>
<% else %>
<div class="mt-1 border-top border-2 border-dark">
<% begin %>
	<%= render partial: "#{engine_prefix}admin/parts/visitor", locals: {visitor:visitor,index:index,collapse:true} %>
<% rescue Exception => ex %>
<%= tag.div ex, class: "alert alert-danger" %>
<% end %>
</div>
<% end %>
<% last_visitor_created_at = visitor.created_at %>
<% last_visitor_session = visitor.session_hash %>
<% end %>
<%= feedbacker_paginate @visitors,page: params[:page], wrap_css: "" %>