<%= render partial: "admin/manage/header" %>
<%= render partial: "admin/manage/menu" %>
<%= render partial: "#{engine_prefix}admin/parts/visits_menu" %>

<div><%= num_comma Impression.count %> total impressions</div>
<div class="d-flex align-items-center justify-content-between">
<%= tag.div "#{num_comma(@visitors.total_count)} rows", class: "me-2" if false %> 
<%= feedbacker_paginate @visitors,page: params[:page], wrap_css: "" %>
</div>

<form method="get" action="" class="ms-auto mx-1 fs-6 d-flex">
	<div class="bg-dark text-light p-1 px-2 d-flex badge">
		Referrers
		<div class="ms-auto d-flex mx-1">
		All rows: <input type="text" name="all_visits" value="<%= @all_visits %>" placeholder="leave blank for referrers ONLY">
		Include: <input type="text" name="include" value="<%= @include %>" placeholder="q=">
		Ignoring: <input type="text" name="ignore" value="<%= @ignore %>" placeholder="<%= @app_site ? @app_site.domain : request.domain %>">
		<input type="submit" value="Update" class="ms-1">
		</div>
	</div>

	<div>
	Type: <input type="text" name="itype" value="<%= @itype %>" placeholder="Book, Post, User, etc...">
	ID: <input type="text" name="iid" value="<%= @iid %>" placeholder="1, 2, 3, etc..." style="width:80px;">
	Message: <input type="text" name="imessage" value="<%= @imessage %>" placeholder="download, listen">
	</div>

	<div>
	
	Controller: <input type="text" name="icontroller" value="<%= @icontroller %>" placeholder="welcome, admin, books, etc...">
	Action: <input type="text" name="iaction" value="<%= @iaction %>" placeholder="index, show, etc...">
	</div>

</form>

<div class="fs-8 p-1 text-muted"><%= @visitors.to_sql %></div>

<% @visitors.each_with_index do |visitor,index| %>
<%= render partial: "#{engine_prefix}admin/parts/visitor", locals: {visitor:visitor,index:index} %>
<% end %>
<%= feedbacker_paginate @visitors,page: params[:page], wrap_css: "" %>