<%= render partial: "admin/manage/header" %>
<%= render partial: "admin/manage/menu" %>
<%= render partial: "#{engine_prefix}admin/parts/visits_menu" %>

<div><%= num_comma Impression.count %> total impressions</div>
<div class="d-flex align-items-center justify-content-between">
<%= tag.div "#{num_comma(@visitors.total_count)} rows", class: "me-2" if false %> 
<%= feedbacker_paginate @visitors,page: params[:page], wrap_css: "" %>
</div>
<h3 class="bg-dark text-light p-1 px-2 d-flex">Referrers 

<form method="get" action="" class="ms-auto mx-1 fs-6 badge">
	<div class="d-flex">
	<div class="me-1">
Include: <input type="text" name="include" value="<%= @include %>" placeholder="q=">
</div>
Ignoring: <input type="text" name="ignore" value="<%= @ignore %>" placeholder="<%= @app_site ? @app_site.domain : request.domain %>">
<input type="submit" value="Update" class="ms-1">
</div>

<div>
Type: <input type="text" name="itype" value="<%= @itype %>" placeholder="Book, Post, User, etc...">
ID: <input type="text" name="iid" value="<%= @iid %>" placeholder="1, 2, 3, etc...">
ID: <input type="text" name="imessage" value="<%= @imessage %>" placeholder="downlaod, listen">
Controller: <input type="text" name="icontroller" value="<%= @icontroller %>" placeholder="welcome, admin, books, etc...">
Action: <input type="text" name="iaction" value="<%= @iaction %>" placeholder="index, show, etc...">

	</div>
</form>
</h3>

<div class="fs-8 p-1 text-muted"><%= @visitors.to_sql %></div>

<% @visitors.each_with_index do |visitor,index| %>
<%= render partial: "#{engine_prefix}admin/parts/visitor", locals: {visitor:visitor,index:index} %>
<% end %>
<%= feedbacker_paginate @visitors,page: params[:page], wrap_css: "" %>