<% is_bot = Site.is_bot?(ip: impression.ip_address) %>





<div class="border <%= is_bot ? "border-danger alert-danger" : "bg-light" %>">
	
	<% if is_bot %>
	<% Site.bot_rows(ip: impression.ip_address).first(10.each do |row|) %>
	<%= render row %>
	<% end %>
	<% end %>


	<% if impression.respond_to?(:session_hash) && impression.respond_to?(:request_hash) %>
	<div class="d-flex justify-content-between px-1 fs-8">
		<div><%= impression.session_hash %></div>
		<div><%= impression.request_hash %></div>
	</div>
	<% end %>
	<% user = User.find_by(id:impression.user_id) %>
	<% loc = user.nil? ? Site.location_cached(ip:impression.ip_address) : user.location_cached %>
	<div class="d-flex align-items-top border-bottom bg-white">
	<%= raw isolate_param impression.referrer if impression.respond_to?(:referrer) %>
		<% if impression.respond_to?(:params) %>
		<div class="fs-8 py-1 mx-2">
			<%= impression.params %>: <%= impression.message %>
		</div>
		<% end %>
		<div class="ms-auto px-1">
			<% if impression.respond_to?(:controller_name) %>
			<%= impression.controller_name %>: <%= impression.action_name %>
			<% end %>
		</div>
	</div>

	<div class="d-flex justify-content-between align-items-center p-1">
	<div class="fw-bold fs-8 mx-1 d-flex">
		<div>
		<%= num_comma impression.respond_to?(:view_count) ? impression.view_count : Site.my_impressions(ip:impression.ip_address).count %> views
		</div>
		<div class="mx-1">
		<%= user.nil? ? tag.span("User: #{impression.user_id}", class: "me-2 text-muted") : link_to(user.display_name_public, user) %>: <%= impression.ip_address %>
		</div>
		
	</div>

	<% if impression.respond_to?(:referrer) %>

	<div class="text-start text-success fs-7"><%= impression.referrer %></div>
	<% end %>
	
	<div class="fs-8 text-muted mx-1">
		<% begin %>
		<%= time_ago_in_words impression.respond_to?(:last_visit) ? impression.last_visit : Site.last_view(ip:impression.ip_address) %> ago 
		<% rescue Exception => ex %>
		<%= ex %>
		<% end %>
	</div>
</div>
<div class="text-muted text-end fs-8 px-1">
<% unless loc.nil? %>
	<%= loc.city %>, <%= loc.state %>
	
	<% end %>

	<%= tag.span loc.country_code, class: "text-dark fw-bold" unless loc.nil? %>

</div>
	
</div>