<%= simple_form_for([feedbacker,@translate], :html=> { class: 'bg-white border p-2 rounded' }) do |form| %>
  <% if @translate.errors.any? %>
    <div id="error_explanation":html=> { class: 'foobarbaz' } >
      <h2><%= pluralize(book.errors.count, "error") %> prohibited this entry from being saved:</h2>

      <ul>
        <% @translate.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= render partial: "#{engine_prefix}translate_keys/parts/key", locals: {translate_key: @translate.id.nil? ? Feedbacker::TranslateKey.find_by(id:@translate.translate_key_id) : @translate.translate_key} unless @translate.translate_key.nil?  %>
  <%= form.input :translate_key_id, :as => :hidden, :input_html => { :value => @translate.translate_key_id } %>
  
<% if false %>
  <%= form.input :tdomain %>
  <%= form.input :tkey %>
<% end %>

<% if @translate.use_cms? %>
<%= form.input :phrase, as: :text, :input_html=>{rows:5} %>
<div class="col-3">
<%= form.input :lang, collection: get_all_langs, label: "Language", input_html: {class:'form-select'} %>
</div>
<% else %>

  <div class="row mt-4">
    <div class="col-0 col-sm-1"></div>
    <div class="col-8 col-sm-7">
      <% unless @translate.use_cms? %>
      <%= form.input :phrase %>
      <% else %>
      <%= form.input :phrase, as: :text, :input_html=>{rows:5} %>
      <% end %>
    </div>
    <div class="col-4 col-sm-2">
      <%= form.input :lang, collection: get_all_langs, label: "Language", input_html: {class:'form-select'} %>
    </div>
    <div class="col-0 col-sm-1"></div>
  </div>
<% end %>

<div class="text-center my-2 d-flex justify-content-between col-12 col-sm-10 mx-auto">
    <div></div>

    <div class="d-flex">
    <%= form.button :submit,"Save", class: "btn-sm btn-primary" %>
    <%= link_to "Cancel", feedbacker.translates_path, class: "ms-1 btn btn-sm btn-outline-secondary" %>
    <%= link_to icon_text("Delete phrase","trash"), [feedbacker,@translate], method: :delete, class: "ms-5 btn btn-sm btn-danger text-light" unless @translate.id.nil? %>
    </div>
    <div></div>
    
</div>

<% end %>

<%= render partial: "#{engine_prefix}translates/parts/preview", locals: {translate: @translate} unless @translate.nil? || @translate.id.nil? %>