<%= render partial: "admin/manage/header" %>
<%= render partial: "admin/manage/menu" if false %>

<%= render partial: "#{engine_prefix}translate_keys/parts/menu" %>

<h4>Translation for the specified key</h4>
<% if @translations.empty? %>
<% @languages.each do |lang| %>

<%= link_to "#{lang}: Add #{@tdomain}.#{@tkey}", feedbacker.new_translate_path(lang:lang,tdomain:@tdomain,tkey:@tkey), class: "mx-1 btn btn-sm btn-success" %>
<% end %>
<% end %>
<%= render partial: "#{engine_prefix}translates/parts/list" %>

<h4 class="mt-4 bg-white p-1 border">Similar keys to consider</h4>
<div class="col-sm-8 mx-auto">
<% @similar.each do |translate_key| %>
	<div class="bg-white border my-1 p-1 d-flex">
		<div>
	<%= translate_key.tdomain %>.<%= translate_key.tkey %></div>
	<div class="ms-auto">
	 <% if translate_key.translates.count == 0 %>
	<%= link_to 'Add translation', [engine_name,translate_key], class: "btn btn-sm btn-success" %>
	<% else %>
	<%= link_to "Show #{translate_key.translates.count} #{"translation".pluralize(translate_key.translates.count)}", translate_key, class: "btn btn-sm btn-secondary" %>
	<% end %>
	</div>

	</div>
<% end %>
</div>