<%= render partial: "admin/manage/header" %>
<%= render partial: "admin/manage/menu" if false %>


<%= render partial: "feedbacker/translate_keys/parts/menu", locals: {selected:1} %>
<div class="py-1">
<h4 class="mt-1 d-flex align-items-center"><%= link_to icon_text("","arrow-left"), feedbacker.translate_key_path(id:@translate.translate_key.id), class: "btn btn-sm btn-outline-secondary" %> <span class="mx-1">Edit translation</span>

<%= link_to icon_text("Delete","trash"), [feedbacker,@translate], method: :delete, class: "ms-auto btn btn-sm btn-danger text-light" %>
</h4>
<%= render partial: "#{engine_prefix}translates/form" %>
</div>
<%= render partial: "#{admin_engine_prefix}translates/parts/related",locals:{translate:@translate} %>
<%= render partial: "#{engine_prefix}translate_keys/parts/needed", locals: {title: "Translations needed"} %>