<%= render partial: "admin/manage/header" %>
<%= render partial: "admin/manage/menu" if false %>

<%= render partial: "#{engine_prefix}translate_keys/parts/menu" %>

<% if false %>
<div class="row mt-3">
	<div class="col-">
		<h6 class="d-flex align-items-center bg-secondary text-light p-2 border rounded-top">Template keywords <%= link_to icon_text('',"edit"), feedbacker.translate_keys_path, class: "ms-auto text-light" %></h6>

		<% @translate_domains_grouped.each do |row| %>
		<div><%= row.tdomain.nil? ? "Nil" : link_to(row.tdomain, feedbacker.translate_keys_path{tdomain:row.tdomain}) %></div>
		<% end %>

		<%= render partial: "#{engine_prefix}translate_keys/parts/needed", locals: {title: "Translations needed"} %>
	</div>
	<div class="col-5">
		<h2>Translations <%= link_to "Add", feedbacker.new_translate_key_path, class: "btn btn-sm btn-primary text-light" %></h2>
		<% @translations.each do |row| %>
		<div class="bg-white border p-2 my-2 d-flex align-items-center">
			<%= tag.span row.lang, class:"badge bg-success fs-7 me-1" %>
			<%= row.tdomain %>.<%= row.tkey %> = <%= tag.span row.phrase, class: "fw-bold" %>

			<div class="ms-auto">
				<%= link_to icon_text("","edit"),feedbacker.edit_translate_path(id:row.id) %>
				<%= link_to icon_text("","trash"),feedbacker.translate_path(id:row.id), method: :delete %>
			</div>
		</div>
		<%= tag.div row.object_hashkey if params[:debug] %>
		<% end %>
	</div>
	<div class="col-2">
		<h6>Top contributors</h6>
	</div>
</div>
<% end %>



	
<div class="row mt-3">
	<div class="col-sm-3">
		<%= render partial: "#{engine_prefix}translate_keys/parts/needed", locals: {title: "Translations needed"} %>
	</div>
	<div class="col-sm-7">
		<%= render partial: "#{engine_prefix}translate_keys/parts/filter" %>



		<h4 class="pageH d-flex p-1 px-2 text-light bg-dark mb-0">Recent translations <%= link_to icon(icon:"plus",lbl:"Add"), feedbacker.translates_about_path, class: "btn btn-sm btn-primary text-light ms-auto" %></h4>
		<div class="p-1 bg-white border">

			<%= render partial: "#{engine_prefix}translates/parts/list" %>
			

		</div>

	</div>
	<div class="col-sm-2">
		<h6 class="d-flex align-items-center bg-light text-dark p-1 px-2 border rounded-top fs-8 mt-0 mb-1">Top translators</h6>
		<% @translators.each do |user| %>
		<div class="bg-white border-bottom p-1 mb-1 d-flex align-items-center">
			<%= tag.span user.translates_count, class: "badge bg-info me-1 border fs-7" %> <%= link_to user.display_name_public, [main_app,user], class: "fs-8" %>
		</div>

		<% end %>
	</div>
</div>