<%= render partial: "admin/manage/header" %>
<%= render partial: "admin/manage/menu" if false %>

<%= render partial: "#{engine_prefix}translate_keys/parts/menu" %>


<% if @translate %>
<div class="border border-success border-2 bg-light p-1 my-1">
<%= render partial: "#{engine_prefix}translate_keys/parts/key", locals: {show_updated:true,translate_key: @translate.id.nil? ? Feedbacker::TranslateKey.find_by(id:@translate.translate_key_id) : @translate.translate_key} unless @translate.translate_key.nil?  %>
<%= render partial: "#{engine_prefix}translates/parts/translate",locals:{translate:@translate} %>
</div>
<% end %>

	
<div class="row mt-3">
	<div class="col-sm-3">
		<%= render partial: "#{engine_prefix}translate_keys/parts/needed", locals: {title: "Translations needed"} %>
	</div>
	<div class="col-sm-7">
		<%= render partial: "#{engine_prefix}translate_keys/parts/filter" %>
		<h4 class="pageH d-flex p-1 px-2 text-light bg-dark mb-0">Recent translations <%= link_to icon(icon:"plus",lbl:"Add"), feedbacker.translates_about_path, class: "btn btn-sm btn-primary text-light ms-auto" %></h4>
		<div class="p-1 bg-white border">

			<%= render partial: "#{engine_prefix}translates/parts/list" %>
			

		</div>

	</div>
	<div class="col-sm-2">
		<h6 class="d-flex align-items-center bg-light text-dark p-1 px-2 border rounded-top fs-8 mt-0 mb-1">Top translators</h6>
		<% @translators.each do |user| %>
		<div class="bg-white border-bottom p-1 mb-1 d-flex align-items-center">
			<%= tag.span user.translates_count, class: "badge bg-info me-1 border fs-7" %> <%= link_to user.display_name_public, [main_app,user], class: "fs-8" %>
		</div>

		<% end %>
	</div>
</div>