<%= render partial: "admin/manage/header" %>
<%= render partial: "admin/manage/menu" if false %>

<%= render partial: "#{engine_prefix}translate_keys/parts/menu" %>


<% if @translate %>
<div class="border border-success border-2 bg-light p-1 my-1 animate__animated animate__heartBeat">
<%= render partial: "#{engine_prefix}translate_keys/parts/key", locals: {show_updated:true,translate_key: @translate.id.nil? ? Feedbacker::TranslateKey.find_by(id:@translate.translate_key_id) : @translate.translate_key} unless @translate.translate_key.nil?  %>
<%= render partial: "#{engine_prefix}translates/parts/translate",locals:{translate:@translate} %>
</div>
<% end %>
	
<div class="row mt-3">
	<div class="col-sm-3" id="sideMenu">
		<%= render partial: "#{engine_prefix}translate_keys/parts/needed_toggle" %>
	</div>
	<div class="col-sm-7">
		<%= render partial: "#{engine_prefix}translate_keys/parts/filter", locals: {refresh:params[:refresh]} if @load_delayed %>
		<%= render partial: "#{engine_prefix}translate_keys/parts/search_form" %>
		<h4 class="pageH d-flex p-1 px-2 text-light bg-dark mb-0">Recent translations 
		<%= link_to icon(icon:"question-circle",icon_css:"me-1",lbl:"FAQs"), feedbacker.translates_about_path, class: "ms-auto nodec bg-secondary text-light p-1 fs-7 mx-2 my-1 d-flex align-items-center" %>
		
		</h4>
		<div class="p-1 bg-white border">
			<%= render partial: "#{engine_prefix}translates/parts/list" %>
		</div>

	</div>
	<div class="col-sm-2">
		<h6 class="d-flex align-items-center bg-light text-dark p-1 px-2 border rounded-top fs-8 mt-0 mb-1">Top translators</h6>
		<div class="px-1"><%= tag.span "Pts", class:"bg-info text-info-lightest p-1 fs-7" %></div>
		<% user_ids = {} %>
		<% @translators.each do |user| %>
			<% user_ids[user.id] = true %>
			<%= render partial: "#{engine_prefix}translates/parts/translator_points", locals:{user:user} %>
		<% end %>
		<% User.with_any_role(:translator,:admin,:analyst,:moderator).each do |user| %>
			<% unless user_ids.key?(user.id) %>
				<%= render partial: "#{engine_prefix}translates/parts/translator_points", locals:{user:user} %>
				<% user_ids[user.id] = true %>
			<% end %>
		<% end %>

	</div>
</div>

<%= render partial: "shared/delayed_load", locals: {path_to_filters: feedbacker.translates_delayed_filters_path(format:'js',tdomain:@tdomain), path:feedbacker.translates_delayed_path(format:'js',tdomain:@tdomain)} if @load_delayed %>


<%= tag.div "Page loaded in #{num_comma(Time.now - @timer_action,3)} seconds", class: "fs-8 text-muted fs-8 my-1" %>