<div class="bg-white border my-2">
	<% if row.use_cms? %>
	<div>
	<div class="p-2 d-flex align-items-center">
		
		<%= tag.span row.lang, class:"badge bg-success fs-7 me-1" %>
		<%= link_to "#{row.tdomain}.#{row.tkey}", feedbacker.translate_key_path(id:row.translate_key_id), class: "nodec text-dark" %> = <span class="mx-1 btn btn-sm border bg-white text-muted">CUSTOM HTML</span>

		<div class="ms-auto">
			<%= link_to icon_text("","edit"),feedbacker.edit_translate_path(id:row.id), class: "nodec text-secondary" %>
			<%= link_to icon_text("","trash"),feedbacker.translate_path(id:row.id), method: :delete, class: "nodec" if false %>
		</div>
	</div>

	<%= tag.div row.phrase, class: "text-muted fs-7 p-1" %>

	</div>
	<%= render partial: "#{engine_prefix}translates/parts/preview", locals: {translate: row} %>

	<% else %>
	<div class="p-2 d-flex align-items-center">
		
		<%= tag.span row.lang, class:"badge bg-success fs-7 me-1" %>
		<%= link_to "#{row.tdomain}.#{row.tkey}", feedbacker.translate_key_path(id:row.translate_key_id), class: "nodec text-primary" %>
		 = <%= tag.span row.phrase, class: "fw-bold" %>

		<div class="ms-auto">
			<%= link_to icon_text("","edit"),feedbacker.edit_translate_path(id:row.id), class: "nodec text-secondary" %>
			<%= link_to icon_text("","trash"),feedbacker.translate_path(id:row.id), method: :delete, class: "nodec" if false %>
		</div>
	</div>

	<% end %>

	<div class="px-2 fs-7 d-flex align-items-center justify-content-between">
		<div>by <%= link_to User.find(row.user_id).email, User.find(row.user_id) rescue "Anonymous" %></div>
		<div class="text-muted"><%= time_ago_in_words row.created_at %> ago</div>

	</div>
	
	<%= tag.div row.object_hashkey if params[:debug] %>
	</div>