<div class="bg-white p-2 border my-2">
<%= simple_form_for(@post) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="d-flex justify-content-between align-items-center">
    <div>
    <%= f.button :submit, class: "btn btn-sm btn-primary" %>
    <%= link_to "Cancel", @post, class: "mx-1 btn btn-sm btn-secondary" %>
    </div>

    <div>
      <%= f.input :is_public %>
      <%= f.input :is_global %>
    </div>
  </div>
  <div class="form-inputs">
    <%= f.input :title, input_html: {class: "form-control bg-light"} %>
    
    <% if @post.respond_to?(:content) %>
    <%= f.label :content %>
    <%= f.rich_text_area :content, input_html: {class: "form-control bg-light"} %>
    <% end %>

    <%= f.input :details, input_html: {class: "form-control bg-light"} %>
    <%= f.input :createdby if false %>
    
  </div>

  <div class="form-actions my-1">
    <div>
    <%= f.button :submit, class: "btn btn-sm btn-primary" %>

    <%= link_to "Cancel", @post, class: "mx-1 btn btn-sm btn-secondary" %>
  </div>

  </div>
<% end %>
</div>
