<% show = { roles: false } if local_assigns[:show].nil? %>
<%= feedbacker_paginate @users, page: params[:page] %>
<div class="fs-7 text-end feedbacker-admin-users__demo-toggle">
  Demo/test accounts:
  <%= link_to "Include", feedbacker.admin_users_path(request.parameters.except(:controller, :action, :no_demo)), class: "badge border rounded fs-7 text-decoration-none #{!params[:no_demo] ? 'bg-success text-light' : 'bg-secondary text-white'}" %>
  <%= link_to "Exclude", feedbacker.admin_users_path(request.parameters.except(:controller, :action, :no_demo).merge(no_demo: 1)), class: "badge border rounded fs-7 text-decoration-none #{params[:no_demo] ? 'bg-success text-light' : 'bg-secondary text-white'}" %>
</div>
<% if browser.mobile? %>
  <% @users.each do |user| %>
    <div class="bg-white border mb-1">
      <div class="d-flex p-1">
        <%= link_to user.display_name_public, user %>
        <div class="ms-auto d-flex">
          <%= tag.span icon(icon: "check"), class: "text-success ms-1" unless user.confirmed_at.nil? %>
          <%= tag.span user.sign_in_count, class: "ms-1 fs-7" %>
        </div>
      </div>
      <%= tag.div user.email, class: "fs-7" if user.email != user.display_name_public %>
      <div class="text-end">
        <%= render partial: "admin/users/change_role_btns", locals: { user: user } %>
      </div>
    </div>
  <% end %>
<% else %>
  <table class="table">
    <thead>
      <tr class="fs-7 fw-bold">
        <td class="col-2">Roles</td>
        <td class="col-1">Logins</td>
        <td class="col-9">User</td>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
	<% unless user.nil? %>
	<tr class="bg-white border">
		<td class="">
			<%= render partial: "admin/users/change_role_btns", locals: {user:user} %>
			<%= tag.div safe_join([tag.div("Email confirmed",class:"text-center fs-8"),tag.div(user.confirmed_at.strftime("%b %e, %l:%M %p"),class:"fs-8 text-center fw-bold")]), class: "fs-8" unless user.confirmed_at.blank? %>
			<%= link_to "Confirm email", feedbacker.user_confirm_path(id:user.id), method: :post, class: "btn btn-sm btn-success me-1" if user.confirmed_at.nil? %>
		</td>

		<td><%= tag.span user.sign_in_count %><%= tag.span icon(icon:"check"), class:"text-success ms-1" unless user.confirmed_at.nil? %></td>
		<td class="">
			<div class="d-flex align-items-center">
			<%= icon(icon:"circle",icon_css:"text-success me-1 fs-7") if user.online? %>
			<%= render partial: "shared/best_image", locals: {target:user,img_css: "user me-1 img-fluid rounded-circle",default_icon:"user",wrap_css:"",size:"nano"} rescue nil %>
			<%= link_to user.display_name_public, [main_app,user] %>


			<div class="ms-auto">
				<div class="d-flex">
				<%= tag.div "#{num_comma(user.total_views)} views", class: "badge mx-1 badge-sm bg-info text-light" %>
				<%= tag.span "Demo/tester", class: "badge bg-warning text-dark fs-8 ms-1" if user.is_demo %>
				</div>
				<%= tag.div "#{time_ago_in_words user.last_view} ago", class: "fs-8" unless user.last_view.nil? %>
			</div>

			</div>
			<%= tag.div user.email, class: "fs-7" if user.email != user.display_name_public %>


			<%= tag.div "Current sign in #{time_ago_in_words user.current_sign_in_at} ago", class: "fs-8" unless user.current_sign_in_at.nil? %>
			<%= tag.div "Prev sign in #{time_ago_in_words user.last_sign_in_at} ago", class: "fs-8" unless user.last_sign_in_at.nil? %>

			<div class="d-flex my-1 flex-wrap gap-1">
					<%= link_to icon(icon:"comment"), feedbacker.admin_send_user_message_path(user_id:user.id), class:"me-1 btn btn-sm btn-success" %>

			<%= link_to "Spammer", feedbacker.user_flag_spammer_path(id:user.id), method: :post, class: "btn btn-sm btn-warning me-1" if (user.is_spam.nil? || user.is_spam == false) %>

			<%= link_to "NOT Spammer", feedbacker.user_flag_spammer_path(id:user.id,is_spam:"0"), method: :post, class: "btn btn-sm btn-success me-1" if (user.is_spam == true) %>

			<%= link_to "Remove", [main_app,user], method: :delete, class: "btn btn-sm btn-danger" if !user.removed %>


			</div>


			<%= render partial: "users/user_roles", locals: {user:user,show:{info:false,roles:true}} if show[:roles] %>
		</td>
	</tr>
	<% end %>
      <% end %>
    </tbody>
  </table>
<% end %>